@import url(/assets/css/reset.css);
@import url(/assets/css/global.css);
@import url(/assets/css/components/_navigator.css);
@import url(/assets/css/components/_pills.css);
@import url(/assets/css/components/_link-button.css);
@import url(/assets/css/components/_gallery.css);

.s-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
    background-image: url(/assets/images/pic-sm-bg-01.jpg);
}

.s-wrapper video{
    position: fixed;
    width: 100%;
}

.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;

}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%;
    padding-left: 130px;
    position: relative;
}

.s-wrapper .s-main-content__top {
    height: 80vh; /*unidade de medida relativa*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-wrapper .s-main-content .s-logo img{
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

.s-wrapper .s-main-content__top .s-description{
    background-color: rgba(0, 0, 0, .7);
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.s-wrapper .s-main-content__top s.s-description .s-description__text p{
    color: white;
    line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description .pills{
    margin-bottom:  20px;
}

.s-wrapper .s-main-content .s-links{
    padding: 20px;
    padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul{
    display: flex;
    flex-direction: row;
}

.s-spiderman-01-01{
    background-image: url(/assets/images/spiderman-tobey/movie-01/background.png);
    background-size: cover;
}

.s-spiderman-01-02{
    background-image: url(/assets/images/spiderman-tobey/movie-02/background.png);
    background-size: cover;
}

.s-spiderman-01-03{
    background-image: url(/assets/images/spiderman-tobey/movie-03/background.png);
    background-size: cover;
}
/*PARTE DO GLOBAL.CSS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
    --primary-color: #B9001F;
}

body::before { /*pseu do elemento*/
    content: ""; /*serve para aparecer*/
    
    background-repeat: no-repeat; /*não repetir caso saia do tamanho*/
    background-position: center; /*ficar a o centro*/
    background-size: cover; /*ficar na area do elemento*/
    width: 100%;
    height: 100%;
    position: absolute; /*os itens dos menus ficam por tras dessa imagem, ir no home css e colocar position relative*/
    opacity: 0.2;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

body {
    font-family: 'Poppins', sans-serif;
}
/*FIM DA PARTE DO GLOBAL.CSS*/
/*PARTE DO RESET.CSS*/
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-decoration: none;
}
/*FIM DA PARTE DO RESET.CSS*/

/*PARTE DO NAVIGATOR.CSS*/
.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.navigator ul li {
    margin: 60px 0;
    position: relative;
}

.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li:last-child {
    margin-bottom: 0;
}

.navigator ul li a {
    color: white;
    border: solid 2px white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator::before {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: white;
    z-index: 0;
}

.navigator ul li a:hover,
.navigator ul li a.active {
    color: var(--primary-color);
    background-color: white;
}

.navigator .navigator__icon{
    position: absolute;
    top: -20px;
}

/*FIM DA PARTE DO NAVIGATOR.CSS*/

/*PARTE DO PILLS.CSS*/

.pills ul {
    display: flex;
    flex-direction: row;
}

.pills ul li{
    background-color: var(--primary-color);
    color: white;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.pills ul li:first-child{
    margin-left: 0;
}

/*FIM DA PARTE DO PILLS.CSS*/

/*PARTE DO GALLERY.CSS*/

.gallery {
    padding: 20px;
    padding-left: 0;
}

.gallery ul {
    display: flex;
    flex-direction: row;
}

.gallery ul li {
    margin-left: 25px;
}

.gallery ul li:first-child{
    margin-left: 0px;
}

.gallery ul li a img{
    border: solid 6px white;
    border-radius: 15px;
    position: relative;
}

/*FIM DA PARTE DO GALLERY.CSS*/

/*PARTE DO LINK_BUTTON.CSS*/

a.link-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

a.link-button .icon{
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: var(--primary-color);
    border: solid 1px white;
    background-clip: content-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*Forma para criar um play com o css*/
a.link-button .icon .play-icon{
    border: solid 7px white;
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: -7px;
    position: relative;
}

a.link-button .label{
    margin-left: 10px;
}

/*FIM DA PARTE DO LINK_BUTTON.CSS*/