@import url(/assets/css/reset.css);
@import url(/assets/css/global.css);

body {
    background-color: var(--primary-color); /*pegou a cor do root no global css*/
}

.s-menu {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative; /*vai voltar a deixar o menu clicavel*/
}

.s-menu__item {
    display: inline-block; /*Ficando lado a lado*/
    text-transform: uppercase;
    margin: 0 1.25rem;
}

.s-menu__icon {
    width: 2.5rem;
    margin: 0 1.25rem;
}